body {
  font-family: Arial, sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h4,
h6, .h6 {
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
}

.font-showcase {
  font-size: 60px;
}
.font-showcase span {
  font-weight: bold;
}

.color1 {
  background: #fff089;
}

.color2 {
  background: #ffe950; 
}

.color3 {
  background: #61615e;  
}

.color4 {
  background: #121210;  
}

a {
  color: #61615e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: bold;
}

.jumbotron {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  height: 800px;
  height: 100vh;
  background: url('../images/banner.jpg');
  background-size: cover;
}

.navigation-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(0,0,0,.75);
}

.navigation-container .logo {
  margin-top: 17px;
}

.navigation-container #location .form-control {
  width: auto;
  margin: 15px 0;
}

.navigation-container #location .btn {
  margin: 16px 0 0 5px;
  padding: 6px 16px;
  border-radius: 20px;
}

@media (max-width: 688px) {
  .navigation-container .col-xs-6 {
   /* width:100%;
    float:none;*/
  }
  .navigation-container .logo{
    margin: 17px auto;
  }
}

@media (max-width: 362px) {
  .navigation-container {
    background: transparent;
  }
  .navigation-container #location .btn {
    margin: 16px auto 10px;
    padding: 6px 16px;
    border-radius: 20px;
    width: 50px;
    display: block;
    float: none!important;
  }
  .navigation-container #location .form-control {
    width: 100%;
  }
  .navigation-container .logo {
    margin: 17px auto 0;
  }
}
.fluid-container #hero {
  padding: 0;
}

.fluid-container #hero p {
  margin: 0 auto;
 
  max-width: 637px;
  width:100%;
  text-align: center;
  font-size: 80px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 2px #000;
}

.fluid-container #hero p.small-header {
  padding: 15% 0 0;
  font-size: 40px;
}

.fluid-container #hero .col-sm-3, 
.fluid-container #hero .col-sm-4,
.fluid-container #hero .col-sm-6 {
  padding: 0;
}

.fluid-container #hero .col-sm-3 .img-responsive,
.fluid-container #hero .col-sm-4 .img-responsive,
.fluid-container #hero .col-sm-6 .img-responsive {
  background-size: cover;
  background-position: center center;
}

#footer {
  padding: 15px 0 5px;
  color:#fff;
}

.footer-wrap {
  background: #231f20;
}

#weather img {
  float: left;
  margin-top: -7px;
  margin-right: 20px;
}

#weather-pod {
  margin-top: 30px;
  padding: 20px 20px;
}
@media (max-width: 992px) and (min-width: 768px) {
  #weather-pod {
    padding: 0 9px 10px;
  }
}

#weather-pod h4 {
  text-align: center;
}

#weather-pod h5 {
  clear: both;
  padding-top: 11px;
}

#weather-pod p{
  font-size: 10px;
  padding-top: 3px;
  margin-bottom: 0;
}

#map {
  margin-top: 30px;
  height: 350px;
}