
body {
  font-family: Arial, sans-serif;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h4,
h6, .h6 {
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
}

.font-showcase {
  font-size: 60px;
}
.font-showcase span {
  font-weight: bold;
}

.color1 {
  background: #fff089;
}

.color2 {
  background: #ffe950; 
}

.color3 {
  background: #61615e;  
}

.color4 {
  background: #121210;  
}

a {
  color: #61615e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.strong {
  font-weight: bold;
}

.fluid-container .hero {
  padding: 0;
}

.fluid-container .hero .col-sm-3, 
.fluid-container .hero .col-sm-4,
.fluid-container .hero .col-sm-6 {
  padding: 0;
}

.fluid-container .hero .col-sm-3 .img-responsive,
.fluid-container .hero .col-sm-4 .img-responsive,
.fluid-container .hero .col-sm-6 .img-responsive {
  background-size: cover;
  background-position: center center;
}